@import "../variables.scss";

.formControl.error input,
.formControl.error textarea {
  border: 2px $color-wrong solid;
}

.formControl.error span {
  color: $color-wrong;
}

.formSummaryError {
  border: 1px solid $color-wrong;
  padding: 5px;
  color: $color-wrong;
}
