@import "../variables.scss";

.resultsScreen {
    position: relative;
    height: 100%;
    width: 100%;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;

        @include landscape-orientation {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            margin: 30px auto 30px auto;
        }

        @include xl-devices {
            max-width: 954px;
        }
        @include lg-devices {
            max-width: 770px;
        }

        @include md-devices {
            max-width: 570px;
        }
        @include sm-devices {
            max-width: 300px;
            padding: 30px;
        }
        @include xs-devices {
            padding: 30px 0 30px 0;
        }

        .content__inner {
            position: relative;
            width: 100%;
            box-sizing: border-box;
        }

        .content__title {
            font-family: $font-main;
            font-weight: 900;
            font-size: 64px;
            line-height: 90px;
            text-align: center;
            color: $color-white;
            margin: 0 auto;
            padding: 0 0 30px 0;
            width: 100%;
            @include xl-devices {
                max-width: 954px;
            }
            @include lg-devices {
                max-width: 770px;
            }
            @include md-devices {
                font-size: 28px;
                line-height: 39px;
                max-width: 570px;
            }
            @include sm-devices {
                font-size: 34px;
                line-height: 41px;
                padding: 60px 0 30px 0;
                max-width: 300px;
            }
        }

        .content__score {
            font-family: $font-main;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: $color-white;
            padding: 0 0 100px 0;
            margin: 0 auto;
            width: 100%;
            @include xl-devices {
                max-width: 954px;
            }
            @include lg-devices {
                font-size: 18px;
                line-height: 22px;
                max-width: 770px;
            }
            @include md-devices {
                font-size: 16px;
                line-height: 20px;
                max-width: 570px;
            }

            @include sm-devices {
                padding: 0 0 100px 0;
                max-width: 300px;
            }
        }
        .content__body {
            position: relative;
            background: $content-bg;
            box-shadow: 0px 4px 20px rgba(28, 9, 69, 0.7);
            border-radius: 10px;
            width: 100%;
            padding: 60px;
            box-sizing: border-box;
            @include sm-devices {
                padding: 60px 15px 30px 15px;
            }

            .body__img {
                max-width: 154px;
                width: 100%;
                min-height: 154px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                background: $content-bg;
                border-radius: 50%;
                img {
                    max-width: 130px;
                    width: 100%;
                    height: 130px;
                    object-fit: cover;
                }
            }

            .body__text {
                position: relative;
                padding: 35px 0 35px 0;
                p {
                    font-family: $font-main;
                    font-size: 28px;
                    line-height: 39px;
                    @include lg-devices {
                        font-size: 22px;
                        line-height: 31px;
                    }
                    @include md-devices {
                        font-size: 20px;
                        line-height: 28px;
                    }
                    @include sm-devices {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
        .content__btn {
            position: relative;
            margin: 0 auto;
            max-width: 160px;
            width: 100%;
            min-height: 39px;
            background: $btn-bg;
            border-radius: 4px;
            font-family: $font-main;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $color-black;
            -webkit-appearance: none;
            cursor: pointer;
            border: none;
            outline: none;
            box-shadow: none;
            transform: none;
            transition: 0.2s ease;
            &:hover {
                @media (min-width: 992px) {
                    transition: 0.2s ease;
                    transform: translateX(10px);
                    background: $color-white;
                    color: $btn-bg;
                }
            }
        }
    }
}
