@import "../variables.scss";

.quizSlider__wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 125px 60px 125px 60px;
    margin: 0 auto;

    @include xl-devices {
        max-width: 954px;
    }
    @include lg-devices {
        max-width: 770px;
    }

    @include md-devices {
        max-width: 570px;
    }
    @include sm-devices {
        max-width: 300px;
        padding-left: 30px;
        padding-right: 30px;
    }
    @include xs-devices {
        max-width: 300px;
    }

    .quizSlider__descr {
        position: relative;
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        margin: 0;
    }
    .quizSlider__title {
        position: relative;
        font-family: $font-main;
        font-weight: 900;
        font-size: 64px;
        line-height: 90px;
        text-align: center;
        color: $color-white;
        margin: 0;
    }
    .quizSlider__slider_count {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 43px;
        height: 43px;
        padding: 3px;
        border: 1px solid $color-black;
        border-radius: 3px;
        background: $color-white;
        position: absolute;
        top: calc(0px + 42.5%);
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        z-index: 25;
        i {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            color: $color-black;
            align-self: flex-end;
            &:first-of-type {
                color: $btn-bg;
                align-self: flex-start;
            }
        }
        b {
            font-size: 20px;
            color: $color-black;
            font-weight: 600;
            align-self: center;
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-64%, -65%) rotate(20deg);
        }
    }
}

.quizSlider {
    position: relative;
    font-family: $font-stack;
    width: 100%;
    max-width: 100%;
    &::before {
        content: "";
        position: absolute;
        top: calc(0% + 120px);
        left: 50%;
        transform: translate(-50%, 0%);
        background: $content-bg;
        box-shadow: 0px 4px 20px rgba(28, 9, 69, 0.7);
        border-radius: 10px;
        width: 100%;
        height: calc(100% - 60px);
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        .item__img {
            width: 163px;
            height: 163px;
            background: $content-bg;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 95%;
                height: 95%;
                object-fit: cover;
                filter: drop-shadow(0px 4px 20px #8a2d88);
            }
        }
        .item__question {
            position: relative;
            padding: 80px 0 27px 0;
            background: #ffffff;
            width: 100%;
            border-radius: 10px;
            margin: 100px auto 40px auto;
            font-family: $font-main;
            box-sizing: border-box;
            p {
                font-family: inherit;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                color: #1a2a3b;
                word-break: break-word;
            }
        }
        .item__answers {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            box-sizing: border-box;
            .answer {
                margin: 0;
                background: $color-white;
                border-radius: 10px;
                padding: 10px 20px 10px 15px;
                width: 100%;
                transform: none;
                transition: 0.2s ease;
                box-sizing: border-box;
                cursor: pointer;
                &:not(:last-of-type) {
                    margin: 0 0 20px 0;
                }

                &:hover {
                    @media (min-width: 992px) {
                        transform: perspective(2000px) translateZ(100px);
                        transition: 0.2s ease;
                    }
                }
                p {
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    i {
                        font-family: $font-main;
                        max-width: 8%;
                        width: 100%;
                        color: #ccd5de;
                        font-size: 26px;
                        font-weight: 600;
                        font-style: normal;
                        line-height: normal;
                        text-align: center;
                    }
                    span {
                        font-family: $font-secondary;
                        font-size: 20px;
                        font-weight: 400;
                        font-size: normal;
                        text-align: left;
                        color: $color-black;
                        flex: 1;
                    }
                }
            }
        }
    }
}

.quizSlider__prev_arrow {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 100%;
}

.quizSlider__next_arrow {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;
}
