@import "../variables.scss";

.quizSlider__wrapper {
    position: relative;
}

.quizSlider {
    position: relative;
}

.quizSlider__slider_count {
    position: relative;
    font-size: 20px;
    color: red;
}

.quizSlider__prev_arrow {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 100%;
}

.quizSlider__next_arrow {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;
}
