@import "./variables.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: $color-white;
  background: $main-bg;

  .container {
    position: relative;
    padding: 0 15px 0 15px;
    @include xs-devices {
      max-width: 100%;
    }
    @include sm-devices {
      max-width: 100%;
    }
    @include md-devices {
      max-width: 750px;
    }
    @include lg-devices {
      max-width: 960px;
    }
    @include xl-devices {
      max-width: 1140px;
    }
  }
  #root {
    height: 100%;
    width: 100%;
  }

  .slick-dots {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    margin: 30px auto 0 auto;
    max-width: 50%;
    width: 100%;

    @include md-devices {
      max-width: 40%;
    }
  }
  .slick-dots li.slick-active button:before,
  .slick-dots li button::before {
    opacity: 1;
    background: $color-slick-button;
    width: 20px;
    height: 4px;
    content: "";
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
  }
  .slick-dots li.slick-active button:before {
    background: $color-hovered;
  }

  .slick-list {
    padding: 120px 0 0 0 !important;
    @include sm-devices {
      padding: 120px 0 40px 0 !important;
    }
  }
}
